.shadow-blue {
  box-shadow: 0px 10px 30px rgba(189, 209, 242, 0.5) !important;
}

.shadow-bold {
    box-shadow: 1px 5px 19px rgba(0, 0, 0, 0.4);
}

.shadow-top {
    box-shadow: 0px -4px 11px rgba(0, 0, 0, 0.08);
}
