@mixin trans {
    transition: all 0.3s ease;
}

@mixin trans-super-slow {
    transition: all 1s ease;
}

@mixin trans-slow {
    transition: all 0.5s ease;
}

@mixin flex-inline-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
